* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.header,.container{
    
    background-color: #1f2937;
    

}

h1{
    font-weight: 900;
    color: #F9FAF8;
    font-size: 48px;
    
}

.left{
    
    font-size: 24px;
    color: #F9FAF8;
    
    font-weight: bold;

}
p{
    color: #e5e7eb;
    font-size: 18px;
    padding: 0px 0px 20px 0px;
    
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: #e5e7eb;
}
.right {
    
    gap: 20px;
    font-size: 18px;
}

.container{
    padding: 90px 200px;
    display: flex;
    justify-content: space-between;
    
}
.cleft{
    
    max-width: 300px;
    
}

h1{
    color: white;
}
button{
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}